# Hello World!

In [2]:
print(12345)

12345

In [4]:
cities = ["karachi", "lahore", "Islamabad"]
print (cities)

['karachi', 'lahore', 'Islamabad']

In [8]:
cities = ["karachi", "lahore", "Islamabad"]
print (cities)
cities.append("Jehlum")
print(cities)

['karachi', 'lahore', 'Islamabad']
['karachi', 'lahore', 'Islamabad', 'Jehlum']

In [9]:
a = 1,2,3
print(a)

(1, 2, 3)

In [16]:
x , y , z = a
print (b)

NameError: name 'b' is not defined

# For Loop

In [2]:
students = ["ali", "huziafa","taha","manzoor"]

In [5]:
for student in students:
    print (student)

ali
huziafa
taha
manzoor

In [9]:
students = ["ali", "huzaifa","taha","manzoor"]

In [10]:
for student in students:
    if student == "huzaifa":
        print(f'{student} bahar jao')
    else:
        print(f'{student} andar ajao')

ali andar ajao
huzaifa bahar jao
taha andar ajao
manzoor andar ajao

In [ ]:
for a in "Huziafa":
    print(a, end = " ")

In [ ]:
for num in range(10):
    print (num, end = "")

In [13]:
tnum = int(input("Enter table number"))
for num in range (1,10):
    print(f'{tnum} X {num} = {num * tnum}')

Enter table number3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [15]:
tnum = input("Enter table number")
# if we dont use int the input will not be 
# converted into integer , default input type is always string

for num in range (1,10):
    print(f'{tnum} X {num} = {num * tnum}')

Enter table number2
2 X 1 = 2
2 X 2 = 22
2 X 3 = 222
2 X 4 = 2222
2 X 5 = 22222
2 X 6 = 222222
2 X 7 = 2222222
2 X 8 = 22222222
2 X 9 = 222222222

# Step (skipping) parameter in for loop

In [22]:
for num in range (0,30,2): #printing even numbers using steps 
    print (num ,end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [23]:
for num in range (1,30,2): #printing odd numbers using steps 
    print (num ,end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [29]:
tnum = int(input("Enter table number"))
for num in range (1,10):
    if num == 0 :
        print(f'{tnum} X {num} = {num * tnum}')

Enter table number2

In [39]:
friends = ["ali","rameez", "shahnawaz" ,"amir","ashfaq"]
bfrnds = []

In [40]:
for bf in friends:
    if bf.startswith("a"):
        bfrnds.append(bf)
print(bfrnds)

['ali', 'amir', 'ashfaq']

In [1]:
# friends = ["ali","rameez", "shahnawaz" ,"amir","ashfaq"]
bfrnds = []

In [3]:
for chk in range (10):
    chk = input("Enter friends name")
    if chk.startswith("a"):
        print("Yes its the good name")
        bfrnds.append(chk)
        continue

Enter friends namets
Enter friends nameali
Yes its the good name

In [14]:
print(bfrnds)

['ali']

# nested for loop

In [15]:
for a in [1,2,3]: 
    for b in "huzaifa":
        print (a,b,)

1 h
1 u
1 z
1 a
1 i
1 f
1 a
2 h
2 u
2 z
2 a
2 i
2 f
2 a
3 h
3 u
3 z
3 a
3 i
3 f
3 a

In [27]:
for a in range(1,5):
    print("---------")
    for b in range(1,11):
        print(f'{a} x {b} = {a*b}')

---------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# list comprehension

In [28]:
[num**2 for num in range (1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[num**2 for num in range (1,10) if num > 5]

[36, 49, 64, 81]