# Hello World!

In [2]:
print(12345)

12345

In [4]:
cities = ["karachi", "lahore", "Islamabad"]
print (cities)

['karachi', 'lahore', 'Islamabad']

In [8]:
cities = ["karachi", "lahore", "Islamabad"]
print (cities)
cities.append("Jehlum")
print(cities)

['karachi', 'lahore', 'Islamabad']
['karachi', 'lahore', 'Islamabad', 'Jehlum']

In [9]:
a = 1,2,3
print(a)

(1, 2, 3)

In [16]:
x , y , z = a
print (b)

NameError: name 'b' is not defined

# For Loop

In [2]:
students = ["ali", "huziafa","taha","manzoor"]

In [5]:
for student in students:
    print (student)

ali
huziafa
taha
manzoor

In [9]:
students = ["ali", "huzaifa","taha","manzoor"]

In [10]:
for student in students:
    if student == "huzaifa":
        print(f'{student} bahar jao')
    else:
        print(f'{student} andar ajao')

ali andar ajao
huzaifa bahar jao
taha andar ajao
manzoor andar ajao

In [ ]:
for a in "Huziafa":
    print(a, end = " ")

In [ ]:
for num in range(10):
    print (num, end = "")

In [13]:
tnum = int(input("Enter table number"))
for num in range (1,10):
    print(f'{tnum} X {num} = {num * tnum}')

Enter table number3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [15]:
tnum = input("Enter table number")
# if we dont use int the input will not be 
# converted into integer , default input type is always string

for num in range (1,10):
    print(f'{tnum} X {num} = {num * tnum}')

Enter table number2
2 X 1 = 2
2 X 2 = 22
2 X 3 = 222
2 X 4 = 2222
2 X 5 = 22222
2 X 6 = 222222
2 X 7 = 2222222
2 X 8 = 22222222
2 X 9 = 222222222

# Step (skipping) parameter in for loop

In [22]:
for num in range (0,30,2): #printing even numbers using steps 
    print (num ,end = " ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [23]:
for num in range (1,30,2): #printing odd numbers using steps 
    print (num ,end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [29]:
tnum = int(input("Enter table number"))
for num in range (1,10):
    if num == 0 :
        print(f'{tnum} X {num} = {num * tnum}')

Enter table number2

In [39]:
friends = ["ali","rameez", "shahnawaz" ,"amir","ashfaq"]
bfrnds = []

In [40]:
for bf in friends:
    if bf.startswith("a"):
        bfrnds.append(bf)
print(bfrnds)

['ali', 'amir', 'ashfaq']

In [41]:
friends = ["ali","rameez", "shahnawaz" ,"amir","ashfaq"]
bfrnds = []

In [ ]:
chk = input("Enter friends name")
for num in range (1,10):
    if num == chk:
        print("yes")